#friends-display-link {
  display: block;
  width: 95%;
  margin-left: 10px;
  justify-content: center;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.5);
  padding: 15px 0px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: -20px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hidesplashcreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #fae100;
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  animation: hidesplashcreen 1s ease-in-out forwards;
}
