.navigation {
  background-color: aliceblue;
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.397);
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  position: relative;
}

@keyframes notificationanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotate(20deg);
  }
  100% {
    transform: none;
  }
}

.navigation__notification {
  position: absolute;
  right: -20px;
  bottom: 20px;
  animation: notificationanimation 0.8s ease-in-out infinite;
}

.navigation__notification2 {
  position: absolute;
  right: -10px;
  bottom: 30px;
}
